@import 'partials/normalize';

// **************
// VARIABLES
// **************

// Colours
// **************

// Highlights
$primary-colour: #AAA371;
$secondary-colour: #A7A7A7;

// Backgrounds
$primary-background: #FFFFFF;
$secondary-background: #F6F5F0;

// Fonts
$body-color: #797979;

// Breakpoints
// **************
$sm: 576px;// Small tablets and large smartphones (landscape view)
$md: 768px;// Small tablets (portrait view)
$lrg: 992px;// Tablets and small desktops
$xl: 1200px;// Large tablets and desktops

// Widths
// **************
$site-width: 1600px;

// MIXINS
// **************
@mixin uppercase {
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: .08rem;
}

// Utilities
.u-inner {
	margin: 0 auto;
	max-width: $site-width;
}

// **************
// MAIN STYLES
// **************
@import 'partials/typography';
@import 'partials/structure';


@keyframes load {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

body {
	background-color: $primary-background;
	animation: load 1.25s linear;
}

// Links
a {
	color: $primary-colour;
	text-decoration: none;
}

// Buttons
.button {
	@include uppercase;
	line-height: 1.1rem;
	padding: 2rem;
	border-radius: .5rem;
	display: inline-block;
	background: $primary-colour;
	color: #FFFFFF;
	border: 1px solid fade-out(#000000, 0.75);
	&:hover {
		background: darken($primary-colour, 10%);
	}
	&--secondary {
		background: $secondary-colour;
		&:hover {
			background: darken($secondary-colour, 10%);
		}
	}
	+ .button {
		margin-left: 2rem;
	}
}

// Headings
.heading {
	font-weight: 400;
	margin: 0 0 1.5rem;
	&--main {
		font-family: "PT Serif";
		color: $primary-colour;
		line-height: 1.33em;
		font-size: 4rem;
		@media (min-width: $lrg){
			font-size: 5.5rem;
		}
	}
	&--sub {
		@include uppercase;
		line-height: 1.2em;
		color: $secondary-colour;
	}
}

// Site header
@keyframes logo-zoom {
	0% { transform: scale(.9); }
	100% { transform: scale(1); }
}
.site-header {
	background-color: $secondary-background;
	text-align: center;
	border-bottom: 1px solid fade-out($primary-colour, 0.75);
	.u-inner {
		padding: 2.5rem 5rem;
		position: relative;
	}
}
.site-header__logo {
	height: 4rem;
	width: 19.5rem;
	margin: 2.5rem auto;
	display: block;
	animation: logo-zoom 1.25s linear;
	img {
		height: 100%;
	}
}
.site-header__link {
	display: block;
	padding: .5rem 0;
	img {
		margin: -8px 2rem -8px 0;
		display: inline-block;
	}
	@media (min-width: $lrg){
		position: absolute;
		top: 4.5rem;
		&--tel { left: 5rem; }
		&--email { right: 5rem; }
	}
}

// Introduction 
.introduction {
	text-align: center;
	padding: 5rem 2rem;
	max-width: 800px;
	margin: 0 auto;
	@media (min-width: $lrg){
		padding: 10rem 2rem;
	}
}
.introduction__copy {
	font-size: 1.8rem;
	line-height: 3.5rem;
	@media (min-width: $lrg){
		font-size: 2rem;
		line-height: 3.8rem;
	}
}

// Features
.hotel-feature {
	background: $secondary-background;
}
.hotel-feature__copy {
	padding: 4rem;
	.heading--main {
		font-size: 3.5rem;
		@media (min-width: $lrg){
			font-size: 4rem;
		}
	}
}
.hotel-feature__img {
	margin: 0;
}

// Site footer
.hotel-highlights {
	padding: 4rem 2rem 2rem;
	max-width: $site-width;
	margin: 0 auto;
	@media (min-width: $lrg){
		padding: 8rem;
	}
}
.hotel-highlight {
	height: 0;
	padding-bottom: 93%;
	overflow: hidden;
	position: relative;
	background: #000000;
	margin-bottom: 1rem;
}
.hotel-highlight__img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: .8;
	transition: transform .3s;
	.hotel-highlight:hover & {
		transform: scale(1.05);
	}
}
.hotel-highlight__caption {
	font-family: "PT Serif";
	font-size: 3.0rem;
	line-height: 3.5rem;
	padding: 0 1rem;
	position: absolute;
	bottom: 2rem;
	width: 100%;
	text-align: center;
	color: #FFFFFF;	
}