// Core structural declarations and grid

* {
	*behavior: url(/workspace/assets/js/boxsizing.htc);
}
*, *:after, *:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

// Grid
.grid {
	display: flex;
	flex-wrap: wrap;
	&:after {
		display: block;
		content: "";
		clear: both;
	}
	&--gutters {
		margin: 0 -2rem;
		padding: 0 1rem;
	}
}
.grid__column {
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	overflow: hidden;
	width: 100%;
	img {
		width: 100%;
		display: block;
	}
	.grid--gutters & {
		padding: 0 1rem 1rem;
	}
}

@media (min-width: $md){
	.grid__column--1-2 {
		width: 50%;
	}
	.grid__column--1-3 {
		width: 33.33%;
	}
	.grid__column--right {
		float: right;
		order: 2;
	}
}