@import 'fonts';

html {
	font-size: 62.5%; // 'Golden rule' for rems
}
body {
	font-family: 'Lato';
	font-size: 1.7rem; 
	line-height: 3.2rem;
	color: $body-color;
}
p, a, h1, h2, h3, h4 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}
p {
	margin-bottom: 2em;
}